.main_azkar{
    width: 46%;
    margin: auto;
    padding: 0px 9px;
    text-align: center;
    float: left;
    margin-top: -10px;
    transition: all .2s ease-in;
    margin-top: 1%;
    overflow: hidden;
    padding: 2.5% 0;
    margin-left: -1%;
}
.main_azkar a{
    text-decoration: none;
}
.main_azkar a div i{
    display: block;
    color: #fafafa;
}
.azkar_hidden{
    width: 57%;
}
.full_veiw{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px , 1fr));
    grid-row-gap: 1rem;
    grid-column-gap: 1rem; 
}


.same{
    cursor: pointer;
    border-radius: 5px;
    padding: 17px 0;
    color: #fafafa;
    font-size: 18px;
    transition: all .2s;
}

.same:hover{
    box-shadow: -0px 1px 5px #aaa,
    -1px 1px 5px #aaa;
    transition: all .2s;
}
.mornning{
    background: #555;
    margin-bottom: 1rem;
}
.night{
    background: #16a387;
    margin-bottom: 1rem;
}

.full_veiw a:first-of-type{
    background: #d48a12;
    text-decoration: none;
}

.full_veiw a:nth-last-of-type(1){
    background: #8a50a1;
    text-decoration: none;
}

.full_veiw a:nth-last-of-type(2){
    background: #28ad5f;
    text-decoration: none;
}

.full_veiw a:nth-last-of-type(3){
    background: #e74c3c;
    text-decoration: none;
}



/* morning start */
.pair_morning{
    width: 44%;
    margin: auto;
    background: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(400px , 1fr));
    grid-row-gap: 1.2rem;
    grid-column-gap: 1.2rem; 
    padding: 0px 9px;
    text-align: center;
    float: left;
    margin-top: 2%;
    transition: all .2s ease-in;
    color: #fafafa;
}

.pair_morning h1{
    cursor: pointer;
    border-radius: 5px;
    padding: 17px 0;
    color: #fafafa;
    font-size: 18px;
    transition: all .2s;
    background: #555;
    margin-bottom: 0rem;
}
.pair_morning div{
    position: relative;
    padding: 20px;
    background: #23282d;
    box-shadow: -5px -4px 3px 0px #424344 ,
    5px 4px 3px 0px #18191d ;
    ;
    border-radius: 20px;
}

.pair_morning div h2{
    font-size: 1.7rem;
    color:#f1ae55;
}
.num {
    background: #555;
    position: absolute;
    top: -15px;
    left: -15px;
    font-size: 17px;
    padding: 5px;
    border-radius: 10px;    
}
.num_id{
    display: inline-block;
    background: #23282d;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: -2px -4px 3px 0px #424344 ,
    5px 4px 3px 0px #18191d ;
    ;
}
.pair_morning div p:first-of-type{
    font-size: 1.4rem;
    line-height: 50px;
}

.pair_morning p:last-of-type{
    font-size: 1rem;
    color: #bbb;
}


.pair_morning .night1{
    background: #16a387;
}
.pair_morning .night2{
    background: #28ad5f;
}
.pair_morning .night3{
    background: #e74c3c;
}
.pair_morning .night4{
    
    background: #d48a12;
}
.pair_morning .night5{
    background: #8a50a1;
}

.morning_pairant_hidden{
    width: 57%;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}


